.user {
  font-family: 'Segoe UI', sans-serif;
  max-width: 500px;
  border: 2px solid black;
  padding: 2px;
}

.username {
  padding: 6px;
  font-size: 30px;
  margin-left: 10%;
}

.account-line {
  padding: 6px;
  font-size: 30px;
  margin-left: 10%;
}

.custom-header {
  padding: 10px;
  text-align: center;
  background: #b8bdbc;
  color: white;
  max-width: 500px;
  margin-left: 35%;
  border: 1px solid black;

}