.post {
  font-family: 'Segoe UI', sans-serif;
  max-width: 1000px;
  border: 2px solid black;
  padding: 2px;
  margin-left: 20%;
  
}

.grid{
  display: grid;
  grid-template-columns: 500px, 500px;
  grid-template-rows: 100px;
}

.post-name {
  padding: 10px;
  font-size: 36px;
  overflow-wrap: normal;
  font-weight: bold;
  background-color: cadetblue;
  background-size: 80% 50%;
}

.img1 {
  width: 488px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  padding: 6px;
}

.img2 {
  width: 488px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 10;
  padding: 6px;
}

strong
{
  font-size: 22px;
  padding: 2px;
}

.post-info
{
  width: 488px;
  font-size: 18px;
  text-align: left;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 10;
  overflow-wrap: break-word;
  overflow: hidden;

}

.icons {
  display: inline-block;
  font-size: 20px;
}

.heart {
  display: inline;
  width: 25px;
  height: 25px;
  padding: 4px;
  grid-row-start: 1;
  grid-row-end: 10;
}