.user {
  font-family: 'Segoe UI', sans-serif;
  max-width: 500px;
  border: 2px solid black;
  padding: 2px;
}

.username {
  padding: 6px;
  font-size: 30px;
  margin-left: 10%;
}

.account-line {
  padding: 6px;
  font-size: 30px;
  margin-left: 10%;
}
